<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.tapc.platform"
          android:versionCode="2"
          android:versionName="1.0.3">

    <!-- android:sharedUserId="android.uid.system" -->
    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>

    <uses-permission android:name="android.hardware.usb.host"/>
    <uses-permission android:name="android.hardware.usb.accessory"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>

    <application
        android:name=".TapcApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.HOME"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.TVActivity"/>
        <activity android:name=".activity.GoalActivity"/>
        <activity android:name=".activity.ScenePlayActivity"/>
        <activity android:name=".activity.SceneRunActivity"/>
        <activity android:name=".activity.ProgramAcitvity"/>
        <activity android:name=".activity.SetProgramTimeAcitvity"/>
        <activity android:name=".activity.LanguageAcivity"/>
        <activity android:name=".activity.HelpActivity"/>
        <activity android:name=".activity.SportResultActivity"/>
        <activity android:name=".activity.ApplicationActivity"/>
        <activity android:name=".activity.RecordActivity"/>
        <activity android:name=".activity.WorkoutCtlSetActivity"/>
        <activity android:name=".activity.ChooseChallengeModeActivity"/>
        <activity android:name=".activity.StartChallenge"/>
        <activity android:name=".activity.ChallengeResultActivity"/>
        <activity android:name=".activity.WattConstanAcitvity"/>
        <activity android:name=".activity.LoadCtlSetAcitvity"/>
        <activity
            android:name=".activity.LoginActivity"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".activity.SettingActivity"
            android:launchMode="singleInstance"/>
        <activity
            android:name=".activity.RegisterActivity"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".activity.GroupsActivity"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".activity.CreateGroupActivity"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".activity.CreatePrivateGroupSuccessActivity"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".activity.AddGroupActivity"/>
        <activity
            android:name=".activity.PublicGroupListActivity"
            android:theme="@style/ListViewFastScrollThumb"/>
        <activity
            android:name=".activity.AddPrivateGroupActivity"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".activity.PublicGroupDetailActivity"/>
        <activity
            android:name=".activity.GroupDetailActivity"
            android:theme="@style/ListViewFastScrollThumb"/>
        <activity android:name=".activity.GroupUserDetailActivity"/>
        <activity android:name=".activity.DeviceSettingActivity"/>
        <activity android:name=".activity.LoginSettingActivity"/>

        <service
            android:name=".service.MenuService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name=".service.MenuService"/>
            </intent-filter>
        </service>
        <service
            android:name=".service.VoiceInputService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name=".service.VoiceInputService"/>
            </intent-filter>
        </service>
        <service
            android:name=".service.MachineStatusService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name=".service.MachineStatusService"/>
            </intent-filter>
        </service>

        <receiver android:name=".receiver.NetWorkBroadcastReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.BlueBroadcastReceiver">
            <intent-filter>
                <action android:name="android.bluetooth.device.action.ACL_CONNECTED"/>
                <action android:name="android.bluetooth.device.action.ACL_DISCONNECTED"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>